In [68]:
import requests
import json
import pandas as pd
from sqlalchemy import create_engine
import requests
from pprint import pprint
from config import api_key

In [69]:
medincome_csv = "Unemployment.csv"
med_income_df = pd.read_csv(medincome_csv, delimiter =",", encoding="utf-8-sig", skiprows=7)
med_income_df.head()

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2017,Med_HH_Income_Percent_of_State_Total_2017
0,0,US,United States,NaN,NaN,NaN,"152,191,093","145,156,134","7,034,959",4.6,...,"160,273,906","153,293,830","6,980,076",4.4,"161,640,488","155,344,043","6,296,445",3.9,"$60,336",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,2178243,2081676,96567,4.4,"2,198,837","2,112,347","86,490",3.9,"$48,193",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"24,383","23,577",806,3.3,...,25972,24958,1014,3.9,"25,957","25,015",942,3.6,"$58,343",121.1
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"82,659","80,099","2,560",3.1,...,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6,"$56,607",117.5
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"10,334","9,684",650,6.3,...,8317,7831,486,5.8,"8,373","7,940",433,5.2,"$32,490",67.4

In [70]:
medincome_cleaned = med_income_df.rename(columns={"Med_HH_Income_Percent_of_State_Total_2017":"Median Household Income 2013"})

medincome_cleaned

,FIPS,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2017,Median Household Income 2013
0,0,US,United States,NaN,NaN,NaN,"152,191,093","145,156,134","7,034,959",4.6,...,"160,273,906","153,293,830","6,980,076",4.4,"161,640,488","155,344,043","6,296,445",3.9,"$60,336",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,175,612","2,089,127","86,485",4.0,...,2178243,2081676,96567,4.4,"2,198,837","2,112,347","86,490",3.9,"$48,193",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"24,383","23,577",806,3.3,...,25972,24958,1014,3.9,"25,957","25,015",942,3.6,"$58,343",121.1
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"82,659","80,099","2,560",3.1,...,92090,88342,3748,4.1,"93,849","90,456","3,393",3.6,"$56,607",117.5
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"10,334","9,684",650,6.3,...,8317,7831,486,5.8,"8,373","7,940",433,5.2,"$32,490",67.4
5,1007,AL,"Bibb County, AL",1.0,1.0,1.0,"8,791","8,432",359,4.1,...,8550,8174,376,4.4,"8,661","8,317",344,4.0,"$45,795",95.0
6,1009,AL,"Blount County, AL",1.0,1.0,1.0,"26,629","25,780",849,3.2,...,24725,23726,999,4.0,"25,006","24,128",878,3.5,"$48,253",100.1
7,1011,AL,"Bullock County, AL",6.0,6.0,0.0,"3,653","3,308",345,9.4,...,4833,4595,238,4.9,"4,776","4,552",224,4.7,"$29,113",60.4
8,1013,AL,"Butler County, AL",6.0,6.0,0.0,"9,099","8,539",560,6.2,...,8941,8446,495,5.5,"8,914","8,487",427,4.8,"$36,842",76.4
9,1015,AL,"Calhoun County, AL",3.0,2.0,1.0,"54,861","52,709","2,152",3.9,...,45770,43497,2273,5.0,"45,972","43,833","2,139",4.7,"$45,937",95.3
10,1017,AL,"Chambers County, AL",6.0,5.0,0.0,"15,474","14,469","1,005",6.5,...,15200,14579,621,4.1,"15,276","14,679",597,3.9,"$36,883",76.5
11,1019,AL,"Cherokee County, AL",6.0,6.0,0.0,"11,984","11,484",500,4.2,...,11340,10877,463,4.1,"11,622","11,207",415,3.6,"$44,842",93.0
12,1021,AL,"Chilton County, AL",1.0,1.0,1.0,"19,737","19,067",670,3.4,...,19257,18470,787,4.1,"19,476","18,773",703,3.6,"$46,405",96.3
13,1023,AL,"Choctaw County, AL",9.0,10.0,0.0,"5,183","4,875",308,5.9,...,4407,4128,279,6.3,"4,694","4,434",260,5.5,"$36,711",76.2
14,1025,AL,"Clarke County, AL",7.0,11.0,0.0,"10,358","9,730",628,6.1,...,7737,7078,659,8.5,"7,627","7,057",570,7.5,"$36,719",76.2
15,1027,AL,"Clay County, AL",9.0,10.0,0.0,"6,113","5,775",338,5.5,...,5796,5544,252,4.3,"5,963","5,730",233,3.9,"$39,642",82.3
16,1029,AL,"Cleburne County, AL",8.0,4.0,0.0,"6,483","6,246",237,3.7,...,5724,5466,258,4.5,"5,743","5,499",244,4.2,"$45,480",94.4
17,1031,AL,"Coffee County, AL",4.0,5.0,0.0,"21,077","20,275",802,3.8,...,20886,19966,920,4.4,"20,817","19,995",822,3.9,"$51,998",107.9
18,1033,AL,"Colbert County, AL",3.0,2.0,1.0,"25,386","24,216","1,170",4.6,...,23252,22038,1214,5.2,"23,258","22,184","1,074",4.6,"$46,100",95.7
19,1035,AL,"Conecuh County, AL",7.0,11.0,0.0,"4,965","4,646",319,6.4,...,4487,4212,275,6.1,"4,494","4,259",235,5.2,"$30,796",63.9
20,1037,AL,"Coosa County, AL",8.0,3.0,0.0,"4,686","4,415",271,5.8,...,4380,4174,206,4.7,"4,376","4,193",183,4.2,"$42,442",88.1
21,1039,AL,"Covington County, AL",6.0,6.0,0.0,"17,070","16,409",661,3.9,...,15716,14895,821,5.2,"15,617","14,902",715,4.6,"$39,093",81.1
22,1041,AL,"Crenshaw County, AL",8.0,6.0,0.0,"6,546","6,264",282,4.3,...,6403,6112,291,4.5,"6,298","6,041",257,4.1,"$38,419",79.7
23,1043,AL,"Cullman County, AL",4.0,3.0,0.0,"39,367","38,047","1,320",3.4,...,37824,36404,1420,3.8,"37,830","36,589","1,241",3.3,"$45,925",95.3
24,1045,AL,"Dale County, AL",4.0,5.0,0.0,"20,250","19,450",800,4.0,...,19934,19040,894,4.5,"20,120","19,274",846,4.2,"$42,572",88.3
25,1047,AL,"Dallas County, AL",4.0,5.0,0.0,"15,555","14,259","1,296",8.3,...,15027,13898,1129,7.5,"14,860","13,887",973,6.5,"$31,329",65.0
26,1049,AL,"DeKalb County, AL",6.0,6.0,0.0,"31,013","29,689","1,324",4.3,...,29570,28239,1331,4.5,"30,129","28,979","1,150",3.8,"$39,906",82.8
27,1051,AL,"Elmore County, AL",2.0,2.0,1.0,"35,805","34,620","1,185",3.3,...,37217,35840,1377,3.7,"37,215","35,932","1,283",3.4,"$59,652",123.8
28,1053,AL,"Escambia County, AL",6.0,6.0,0.0,"14,288","13,530",758,5.3,...,14443,13721,722,5.0,"14,352","13,696",656,4.6,"$37,870",78.6
29,1055,AL,"Etowah County, AL",3.0,2.0,1.0,"45,459","43,431","2,028",4.5,...,43062,41079,1983,4.6,"43,096","41,328","1,768",4.1,"$41,791",86.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3245,72095,PR,"Maunabo Municipio, PR",1.0,1.0,1.0,"3,748","3,019",729,19.5,...,2947,2438,509,17.3,"2,899","2,456",443,15.3,NaN,NaN
3246,72097,PR,"Mayaguez Municipio, PR",3.0,2.0,1.0,"30,885","27,000","3,885",12.6,...,22569,19416,3153,14.0,"22,099","19,607","2,492",11.3,NaN,NaN
3247,72099,PR,"Moca Municipio, PR",2.0,2.0,1.0,"15,551","13,717","1,834",11.8,...,10703,9131,1572,14.7,"10,472","9,236","1,236",11.8,NaN,NaN
3248,72101,PR,"Morovis Municipio, PR",1.0,1.0,1.0,"9,435","8,034","1,401",14.8,...,8025,7030,995,12.4,"7,840","7,075",765,9.8,NaN,NaN
3249,72103,PR,"Naguabo Municipio, PR",1.0,1.0,1.0,"7,716","6,473","1,243",16.1,...,8011,7119,892,11.1,"8,085","7,188",897,11.1,NaN,NaN
3250,72105,PR,"Naranjito Municipio, PR",1.0,1.0,1.0,"8,740","7,714","1,026",11.7,...,7152,6306,846,11.8,"7,060","6,365",695,9.8,NaN,NaN
3251,72107,PR,"Orocovis Municipio, PR",1.0,1.0,1.0,"5,526","4,700",826,14.9,...,5094,4368,726,14.3,"5,013","4,395",618,12.3,NaN,NaN
3252,72109,PR,"Patillas Municipio, PR",3.0,2.0,1.0,"6,211","5,188","1,023",16.5,...,4641,3727,914,19.7,"4,385","3,611",774,17.7,NaN,NaN
3253,72111,PR,"Penuelas Municipio, PR",2.0,2.0,1.0,"9,096","7,776","1,320",14.5,...,5991,4945,1046,17.5,"5,770","4,975",795,13.8,NaN,NaN
3254,72113,PR,"Ponce Municipio, PR",2.0,2.0,1.0,"65,445","58,109","7,336",11.2,...,45581,40280,5301,11.6,"45,000","40,577","4,423",9.8,NaN,NaN
3255,72115,PR,"Quebradillas Municipio, PR",3.0,2.0,1.0,"8,861","7,786","1,075",12.1,...,6059,5103,956,15.8,"6,005","5,179",826,13.8,NaN,NaN
3256,72117,PR,"Rincon Municipio, PR",2.0,2.0,1.0,"5,740","5,023",717,12.5,...,4662,3950,712,15.3,"4,675","4,004",671,14.4,NaN,NaN
3257,72119,PR,"Rio Grande Municipio, PR",1.0,1.0,1.0,"18,266","16,192","2,074",11.4,...,16947,15304,1643,9.7,"16,991","15,435","1,556",9.2,NaN,NaN
3258,72121,PR,"Sabana Grande Municipio, PR",3.0,2.0,1.0,"9,677","8,325","1,352",14.0,...,6366,5294,1072,16.8,"6,171","5,317",854,13.8,NaN,NaN
3259,72123,PR,"Salinas Municipio, PR",4.0,3.0,0.0,"8,891","7,570","1,321",14.9,...,7478,6079,1399,18.7,"7,136","6,083","1,053",14.8,NaN,NaN
3260,72125,PR,"San German Municipio, PR",3.0,2.0,1.0,"13,283","11,550","1,733",13.0,...,10014,8445,1569,15.7,"9,755","8,573","1,182",12.1,NaN,NaN
3261,72127,PR,"San Juan Municipio, PR",1.0,1.0,1.0,"172,437","158,470","13,967",8.1,...,132461,123168,9293,7.0,"132,954","124,747","8,207",6.2,NaN,NaN
3262,72129,PR,"San Lorenzo Municipio, PR",1.0,1.0,1.0,"14,740","12,907","1,833",12.4,...,11903,10378,1525,12.8,"11,624","10,450","1,174",10.1,NaN,NaN
3263,72131,PR,"San Sebastian Municipio, PR",2.0,2.0,1.0,"15,861","13,837","2,024",12.8,...,10572,8707,1865,17.6,"10,294","8,788","1,506",14.6,NaN,NaN
3264,72133,PR,"Santa Isabel Municipio, PR",4.0,5.0,0.0,"8,518","7,307","1,211",14.2,...,9734,8417,1317,13.5,"8,669","7,556","1,113",12.8,NaN,NaN
3265,72135,PR,"Toa Alta Municipio, PR",1.0,1.0,1.0,"30,318","27,813","2,505",8.3,...,26557,24505,2052,7.7,"26,391","24,731","1,660",6.3,NaN,NaN
3266,72137,PR,"Toa Baja Municipio, PR",1.0,1.0,1.0,"36,123","32,909","3,214",8.9,...,29175,26816,2359,8.1,"28,959","27,056","1,903",6.6,NaN,NaN
3267,72139,PR,"Trujillo Alto Municipio, PR",1.0,1.0,1.0,"35,625","32,943","2,682",7.5,...,26614,25038,1576,5.9,"26,653","25,272","1,381",5.2,NaN,NaN
3268,72141,PR,"Utuado Municipio, PR",2.0,2.0,1.0,"9,177","7,817","1,360",14.8,...,6753,5811,942,13.9,"6,628","5,858",770,11.6,NaN,NaN
3269,72143,PR,"Vega Alta Municipio, PR",1.0,1.0,1.0,"12,663","11,235","1,428",11.3,...,9782,8736,1046,10.7,"9,656","8,810",846,8.8,NaN,NaN
3270,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,"21,115","18,445","2,670",12.6,...,13409,11743,1666,12.4,"13,199","11,826","1,373",10.4,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,"3,317","2,955",362,10.9,...,3026,2588,438,14.5,"2,734","2,283",451,16.5,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,"9,479","8,223","1,256",13.3,...,7554,6088,1466,19.4,"7,329","6,164","1,165",15.9,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,"11,425","9,348","2,077",18.2,...,8996,7510,1486,16.5,"8,826","7,566","1,260",14.3,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,"16,635","14,451","2,184",13.1,...,10156,8407,1749,17.2,"9,770","8,329","1,441",14.7,NaN,NaN

In [71]:
fips = medincome_cleaned["FIPS"]
state_abb = medincome_cleaned["State"]
state_name = medincome_cleaned["Area_name"]
med_inc = medincome_cleaned["Median Household Income 2013"]

In [72]:
medincome_complete1 = pd.DataFrame({
    "FIPS": fips,
    "State Abbreviation": state_abb,
    "State Name": state_name,
    "2013 Median Income": med_inc})
medincome_complete1.head(10)

   FIPS State Abbreviation          State Name  2013 Median Income
0     0                 US       United States                 NaN
1  1000                 AL             Alabama               100.0
2  1001                 AL  Autauga County, AL               121.1
3  1003                 AL  Baldwin County, AL               117.5
4  1005                 AL  Barbour County, AL                67.4
5  1007                 AL     Bibb County, AL                95.0
6  1009                 AL   Blount County, AL               100.1
7  1011                 AL  Bullock County, AL                60.4
8  1013                 AL   Butler County, AL                76.4
9  1015                 AL  Calhoun County, AL                95.3

In [73]:
medincome_nj = medincome_complete1.loc[medincome_complete1['State Abbreviation'] == 'NJ']
medincome_nj

       FIPS State Abbreviation             State Name  2013 Median Income
1807  34000                 NJ             New Jersey               100.0
1808  34001                 NJ    Atlantic County, NJ                74.0
1809  34003                 NJ      Bergen County, NJ               117.1
1810  34005                 NJ  Burlington County, NJ               108.3
1811  34007                 NJ      Camden County, NJ                82.2
1812  34009                 NJ    Cape May County, NJ                80.5
1813  34011                 NJ  Cumberland County, NJ                64.6
1814  34013                 NJ       Essex County, NJ                75.3
1815  34015                 NJ  Gloucester County, NJ               105.7
1816  34017                 NJ      Hudson County, NJ                82.0
1817  34019                 NJ   Hunterdon County, NJ               141.2
1818  34021                 NJ      Mercer County, NJ                97.6
1819  34023                 NJ   Middlesex County, NJ               106.3
1820  34025                 NJ    Monmouth County, NJ               121.9
1821  34027                 NJ      Morris County, NJ               142.6
1822  34029                 NJ       Ocean County, NJ                88.0
1823  34031                 NJ     Passaic County, NJ                78.8
1824  34033                 NJ       Salem County, NJ                76.6
1825  34035                 NJ    Somerset County, NJ               139.6
1826  34037                 NJ      Sussex County, NJ               112.0
1827  34039                 NJ       Union County, NJ                95.9
1828  34041                 NJ      Warren County, NJ                99.4

In [77]:
medincome_nj2 = medincome_nj.iloc[1:]
medincome_nj2

,FIPS,State Abbreviation,State Name,2013 Median Income,Currency
1810,34005,NJ,"Burlington County, NJ",108.3,USD
1811,34007,NJ,"Camden County, NJ",82.2,USD
1812,34009,NJ,"Cape May County, NJ",80.5,USD
1813,34011,NJ,"Cumberland County, NJ",64.6,USD
1814,34013,NJ,"Essex County, NJ",75.3,USD
1815,34015,NJ,"Gloucester County, NJ",105.7,USD
1816,34017,NJ,"Hudson County, NJ",82.0,USD
1817,34019,NJ,"Hunterdon County, NJ",141.2,USD
1818,34021,NJ,"Mercer County, NJ",97.6,USD
1819,34023,NJ,"Middlesex County, NJ",106.3,USD
1820,34025,NJ,"Monmouth County, NJ",121.9,USD
1821,34027,NJ,"Morris County, NJ",142.6,USD
1822,34029,NJ,"Ocean County, NJ",88.0,USD
1823,34031,NJ,"Passaic County, NJ",78.8,USD
1824,34033,NJ,"Salem County, NJ",76.6,USD
1825,34035,NJ,"Somerset County, NJ",139.6,USD
1826,34037,NJ,"Sussex County, NJ",112.0,USD
1827,34039,NJ,"Union County, NJ",95.9,USD
1828,34041,NJ,"Warren County, NJ",99.4,USD

In [81]:
medincome_nj2['Currency']='USD'

C:\Users\cblas\Anaconda1\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [82]:
medincome_nj2

,FIPS,State Abbreviation,State Name,2013 Median Income,Currency
1810,34005,NJ,"Burlington County, NJ",108.3,USD
1811,34007,NJ,"Camden County, NJ",82.2,USD
1812,34009,NJ,"Cape May County, NJ",80.5,USD
1813,34011,NJ,"Cumberland County, NJ",64.6,USD
1814,34013,NJ,"Essex County, NJ",75.3,USD
1815,34015,NJ,"Gloucester County, NJ",105.7,USD
1816,34017,NJ,"Hudson County, NJ",82.0,USD
1817,34019,NJ,"Hunterdon County, NJ",141.2,USD
1818,34021,NJ,"Mercer County, NJ",97.6,USD
1819,34023,NJ,"Middlesex County, NJ",106.3,USD
1820,34025,NJ,"Monmouth County, NJ",121.9,USD
1821,34027,NJ,"Morris County, NJ",142.6,USD
1822,34029,NJ,"Ocean County, NJ",88.0,USD
1823,34031,NJ,"Passaic County, NJ",78.8,USD
1824,34033,NJ,"Salem County, NJ",76.6,USD
1825,34035,NJ,"Somerset County, NJ",139.6,USD
1826,34037,NJ,"Sussex County, NJ",112.0,USD
1827,34039,NJ,"Union County, NJ",95.9,USD
1828,34041,NJ,"Warren County, NJ",99.4,USD

In [83]:
medincome_nj2.to_csv(r'Output_CSV_for_SQL\Unemployment_forSQL.csv')

In [6]:
pollution_csv = "Pollution.csv"
pollution_df = pd.read_csv(pollution_csv, delimiter =",", encoding="utf-8-sig")
pollution_df.head()

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
0,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1027,Clay,1999,33.0,No Units,No Units,Monitor Only,1
1,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1051,Elmore,1999,5.0,No Units,No Units,Monitor Only,1
2,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1073,Jefferson,1999,39.0,No Units,No Units,Monitor Only,1
3,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1079,Lawrence,1999,28.0,No Units,No Units,Monitor Only,1
4,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1089,Madison,1999,31.0,No Units,No Units,Monitor Only,1

In [27]:
url = "http://www.apilayer.net/api/live?access_key=19238a2e4ea4929cdb02da1564124e83"

currencies = requests.get(url).json()

currency_list = [currency for currency in currencies["quotes"]]
pprint(currencies)

{'privacy': 'https://currencylayer.com/privacy',
 'quotes': {'USDAED': 3.673103,
            'USDAFN': 78.349784,
            'USDALL': 108.349832,
            'USDAMD': 476.20964,
            'USDANG': 1.78525,
            'USDAOA': 358.624505,
            'USDARS': 45.377197,
            'USDAUD': 1.467983,
            'USDAWG': 1.8,
            'USDAZN': 1.705028,
            'USDBAM': 1.746399,
            'USDBBD': 2.01935,
            'USDBDT': 84.507956,
            'USDBGN': 1.745905,
            'USDBHD': 0.376898,
            'USDBIF': 1845,
            'USDBMD': 1,
            'USDBND': 1.350698,
            'USDBOB': 6.91615,
            'USDBRL': 3.937096,
            'USDBSD': 1.00025,
            'USDBTC': 8.5536746e-05,
            'USDBTN': 68.914105,
            'USDBWP': 11.015003,
            'USDBYN': 2.04575,
            'USDBYR': 19600,
            'USDBZD': 2.01595,
            'USDCAD': 1.32415,
            'USDCDF': 1665.000507,
            'USDCHF': 0.97517,
            'USDCLF': 0.025738,
            'USDCLP': 710.196955,
            'USDCNY': 7.045205,
            'USDCOP': 3392.5,
            'USDCRC': 572.390192,
            'USDCUC': 1,
            'USDCUP': 26.5,
            'USDCVE': 98.815497,
            'USDCZK': 23.00803,
            'USDDJF': 177.720057,
            'USDDKK': 6.657201,
            'USDDOP': 51.245021,
            'USDDZD': 119.470202,
            'USDEGP': 16.564012,
            'USDERN': 15.000186,
            'USDETB': 29.050378,
            'USDEUR': 0.891996,
            'USDFJD': 2.17905,
            'USDFKP': 0.822889,
            'USDGBP': 0.82408,
            'USDGEL': 2.929839,
            'USDGGP': 0.823919,
            'USDGHS': 5.397922,
            'USDGIP': 0.82292,
            'USDGMD': 50.075041,
            'USDGNF': 9225.00035,
            'USDGTQ': 7.666202,
            'USDGYD': 208.719517,
            'USDHKD': 7.84035,
            'USDHNL': 24.669774,
            'USDHRK': 6.586501,
            'USDHTG': 94.597977,
            'USDHUF': 289.187014,
            'USDIDR': 14171.2,
            'USDILS': 3.475895,
            'USDIMP': 0.823919,
            'USDINR': 70.459011,
            'USDIQD': 1191,
            'USDIRR': 42105.000234,
            'USDISK': 122.469953,
            'USDJEP': 0.823919,
            'USDJMD': 134.789908,
            'USDJOD': 0.70896,
            'USDJPY': 106.048502,
            'USDKES': 103.394993,
            'USDKGS': 69.843102,
            'USDKHR': 4090.502771,
            'USDKMF': 439.650338,
            'USDKPW': 900.082006,
            'USDKRW': 1207.602791,
            'USDKWD': 0.304204,
            'USDKYD': 0.83347,
            'USDKZT': 387.950262,
            'USDLAK': 8701.000196,
            'USDLBP': 1507.950599,
            'USDLKR': 176.879974,
            'USDLRD': 202.99971,
            'USDLSL': 15.080111,
            'USDLTL': 2.95274,
            'USDLVL': 0.604889,
            'USDLYD': 1.403104,
            'USDMAD': 9.53895,
            'USDMDL': 17.636957,
            'USDMGA': 3665.000541,
            'USDMKD': 54.916971,
            'USDMMK': 1509.2503,
            'USDMNT': 2665.011671,
            'USDMOP': 8.078603,
            'USDMRO': 357.000346,
            'USDMUR': 35.850498,
            'USDMVR': 15.449731,
            'USDMWK': 730.434966,
            'USDMXN': 19.49936,
            'USDMYR': 4.185012,
            'USDMZN': 60.65503,
            'USDNAD': 15.080153,
            'USDNGN': 363.000054,
            'USDNIO': 33.549608,
            'USDNOK': 8.91909,
            'USDNPR': 112.905013,
            'USDNZD': 1.542701,
            'USDOMR': 0.385013,
            'USDPAB': 1.00025,
            'USDPEN': 3.38225,
            'USDPGK': 3.397799,
            'USDPHP': 51.917992,
            'USDPKR': 159.874989,
            'USDPLN': 3.85414,
            'USDPYG': 6105.896448,
            'USDQAR': 3.64104,
            'USDRON': 4.214501,
            'USDRSD': 104.930551,
            'USDRUB': 65.130994,
            'USDRWF': 910,
            'USDSAR': 3.75125,
            'USDSBD': 8.24175,
            'USDSCR': 13.704005,
            'USDSDG': 45.120502,
            'USDSEK': 9.577039,
            'USDSGD': 1.38127,
            'USDSHP': 1.320903,
            'USDSLL': 9324.999374,
            'USDSOS': 579.999708,
            'USDSRD': 7.458003,
            'USDSTD': 21560.79,
            'USDSVC': 8.751704,
            'USDSYP': 514.999786,
            'USDSZL': 15.08041,
            'USDTHB': 30.765499,
            'USDTJS': 9.43125,
            'USDTMT': 3.51,
            'USDTND': 2.8649,
            'USDTOP': 2.31115,
            'USDTRY': 5.456396,
            'USDTTD': 6.76685,
            'USDTWD': 31.247498,
            'USDTZS': 2300.299178,
            'USDUAH': 25.253961,
            'USDUGX': 3700.601981,
            'USDUSD': 1,
            'USDUYU': 35.169625,
            'USDUZS': 8700.000096,
            'USDVEF': 9.987495,
            'USDVND': 23210,
            'USDVUV': 117.440928,
            'USDWST': 2.669991,
            'USDXAF': 585.730006,
            'USDXAG': 0.058961,
            'USDXAU': 0.000667,
            'USDXCD': 2.70255,
            'USDXDR': 0.726664,
            'USDXOF': 584.999697,
            'USDXPF': 107.020336,
            'USDYER': 250.350189,
            'USDZAR': 15.037994,
            'USDZMK': 9001.197348,
            'USDZMW': 12.983026,
            'USDZWL': 322.000001},
 'source': 'USD',
 'success': True,
 'terms': 'https://currencylayer.com/terms',
 'timestamp': 1565280489}

In [28]:
currency_df = pd.DataFrame.from_dict(currencies)
currency_df.reset_index().head(25)

,index,success,terms,privacy,timestamp,source,quotes
0,USDAED,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,3.673103
1,USDAFN,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,78.349784
2,USDALL,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,108.349832
3,USDAMD,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,476.209640
4,USDANG,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.785250
5,USDAOA,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,358.624505
6,USDARS,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,45.377197
7,USDAUD,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.467983
8,USDAWG,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.800000
9,USDAZN,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.705028
10,USDBAM,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.746399
11,USDBBD,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,2.019350
12,USDBDT,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,84.507956
13,USDBGN,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.745905
14,USDBHD,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,0.376898
15,USDBIF,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1845.000000
16,USDBMD,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.000000
17,USDBND,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.350698
18,USDBOB,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,6.916150
19,USDBRL,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,3.937096
20,USDBSD,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,1.000250
21,USDBTC,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,0.000086
22,USDBTN,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,68.914105
23,USDBWP,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,11.015003
24,USDBYN,True,https://currencylayer.com/terms,https://currencylayer.com/privacy,1565280489,USD,2.045750

In [33]:
currency_df_dropcol = currency_df.drop(columns = ['success', 'terms', 'privacy'])
currency_df_dropcol

         timestamp source        quotes
USDAED  1565280489    USD      3.673103
USDAFN  1565280489    USD     78.349784
USDALL  1565280489    USD    108.349832
USDAMD  1565280489    USD    476.209640
USDANG  1565280489    USD      1.785250
USDAOA  1565280489    USD    358.624505
USDARS  1565280489    USD     45.377197
USDAUD  1565280489    USD      1.467983
USDAWG  1565280489    USD      1.800000
USDAZN  1565280489    USD      1.705028
USDBAM  1565280489    USD      1.746399
USDBBD  1565280489    USD      2.019350
USDBDT  1565280489    USD     84.507956
USDBGN  1565280489    USD      1.745905
USDBHD  1565280489    USD      0.376898
USDBIF  1565280489    USD   1845.000000
USDBMD  1565280489    USD      1.000000
USDBND  1565280489    USD      1.350698
USDBOB  1565280489    USD      6.916150
USDBRL  1565280489    USD      3.937096
USDBSD  1565280489    USD      1.000250
USDBTC  1565280489    USD      0.000086
USDBTN  1565280489    USD     68.914105
USDBWP  1565280489    USD     11.015003
USDBYN  1565280489    USD      2.045750
USDBYR  1565280489    USD  19600.000000
USDBZD  1565280489    USD      2.015950
USDCAD  1565280489    USD      1.324150
USDCDF  1565280489    USD   1665.000507
USDCHF  1565280489    USD      0.975170
...            ...    ...           ...
USDTHB  1565280489    USD     30.765499
USDTJS  1565280489    USD      9.431250
USDTMT  1565280489    USD      3.510000
USDTND  1565280489    USD      2.864900
USDTOP  1565280489    USD      2.311150
USDTRY  1565280489    USD      5.456396
USDTTD  1565280489    USD      6.766850
USDTWD  1565280489    USD     31.247498
USDTZS  1565280489    USD   2300.299178
USDUAH  1565280489    USD     25.253961
USDUGX  1565280489    USD   3700.601981
USDUSD  1565280489    USD      1.000000
USDUYU  1565280489    USD     35.169625
USDUZS  1565280489    USD   8700.000096
USDVEF  1565280489    USD      9.987495
USDVND  1565280489    USD  23210.000000
USDVUV  1565280489    USD    117.440928
USDWST  1565280489    USD      2.669991
USDXAF  1565280489    USD    585.730006
USDXAG  1565280489    USD      0.058961
USDXAU  1565280489    USD      0.000667
USDXCD  1565280489    USD      2.702550
USDXDR  1565280489    USD      0.726664
USDXOF  1565280489    USD    584.999697
USDXPF  1565280489    USD    107.020336
USDYER  1565280489    USD    250.350189
USDZAR  1565280489    USD     15.037994
USDZMK  1565280489    USD   9001.197348
USDZMW  1565280489    USD     12.983026
USDZWL  1565280489    USD    322.000001

[168 rows x 3 columns]

In [36]:
currency_df_chgindex = currency_df_dropcol.reset_index()
currency_df_chgindex.head()

    index   timestamp source      quotes
0  USDAED  1565280489    USD    3.673103
1  USDAFN  1565280489    USD   78.349784
2  USDALL  1565280489    USD  108.349832
3  USDAMD  1565280489    USD  476.209640
4  USDANG  1565280489    USD    1.785250

In [37]:
currency_df_complete = currency_df_chgindex.rename(columns={'index': 'Conversion', 'timestamp':'Timestamp','source': 'Base Currency', 'quotes':'Conversion Rate'})
currency_df_complete.head(25)

   Conversion   Timestamp Base Currency  Conversion Rate
0      USDAED  1565280489           USD         3.673103
1      USDAFN  1565280489           USD        78.349784
2      USDALL  1565280489           USD       108.349832
3      USDAMD  1565280489           USD       476.209640
4      USDANG  1565280489           USD         1.785250
5      USDAOA  1565280489           USD       358.624505
6      USDARS  1565280489           USD        45.377197
7      USDAUD  1565280489           USD         1.467983
8      USDAWG  1565280489           USD         1.800000
9      USDAZN  1565280489           USD         1.705028
10     USDBAM  1565280489           USD         1.746399
11     USDBBD  1565280489           USD         2.019350
12     USDBDT  1565280489           USD        84.507956
13     USDBGN  1565280489           USD         1.745905
14     USDBHD  1565280489           USD         0.376898
15     USDBIF  1565280489           USD      1845.000000
16     USDBMD  1565280489           USD         1.000000
17     USDBND  1565280489           USD         1.350698
18     USDBOB  1565280489           USD         6.916150
19     USDBRL  1565280489           USD         3.937096
20     USDBSD  1565280489           USD         1.000250
21     USDBTC  1565280489           USD         0.000086
22     USDBTN  1565280489           USD        68.914105
23     USDBWP  1565280489           USD        11.015003
24     USDBYN  1565280489           USD         2.045750

In [84]:
currency_df_complete.to_csv(r'Output_CSV_for_SQL\CurrencyAPI_forSQL.csv')